@model IPagedList<RestaurantListViewModel>

@{
    ViewBag.Title = "Home Page";
}

    @*<form class="searchBox" method="get">
        <input type="search" name="searchTerm" />
        <input class="SBN" type="submit" value="Search By Name" />
    </form>*@

@*@using (Ajax.BeginForm(
    new AjaxOptions
    {
        HttpMethod = "get",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "restaurantList"
    }
    ))
{
    <input type="search" name="searchTerm"/>
    <input type="submit" name="Search By Name"/>
}*@
<form method="get" action="@Url.Action("Index")"
      data-otf-ajax="true" data-otf-target="#restaurantList">

    <input type="search" name="searchTerm" data-otf-autocomplete="@Url.Action("Autocomplete")"/>
    <input type="submit" name="Search By Name" />
</form>


@Html.Partial("_Restaurants",Model)

    <div>
        <h2>McDonald's</h2>
        <p><a class="btn btn-default" href="http://localhost:2236/mcdonalds/mustamae/bigborger">Learn more &raquo;</a></p>
    </div>