body {
    background-color: #ecfcff;
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Roboto Mono', monospace;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
.jumbotron {
    background-color: #b2fcff;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.review{
    padding: 2px;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
}
    .review h4 {
        color: black;
        padding: 5px;
        background: #b2fcff;
    }
.reviev span{
    font-size: .8em;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 225px;
}
a.logo {
    background: url(../images/7e2206da-35be-43f9-8bf3-3ea45d70af73_200x200.png) no-repeat top left;
     display: block;
     width: 150px;
     height: 150px;
     text-indent: -9999px;
 }
